{% extends "base.html" %}

{% block title %}
	List View
{% endblock title %}


{% block content %}
<div class="row">
	{% for news in response.articles %}
		<div class="card col-4 border-light" style="width: 18rem;">
			<div class="shadow-lg">
			  <img class="card-img-top" src="{{news.urlToImage}}" alt="Card image cap">
			  <div class="card-body">
			    <a href="{{news.url}}"><h5 class="card-title">{{news.title}}</h5></a>
			    <p class="card-text">{{news.description}}</p>
			  </div>
			</div>
		</div>
		<br>
	{% endfor %}
</div>

{% endblock content %}
